---
import locations from "../data/locations.json";
import LocationCard from "../components/LocationCard.astro";
import HamburgerMenu from "../components/HamburgerMenu.astro";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>函館旅フォトブック 〜まいきゃっち!!〜</title>
  </head>
  <body class="bg-gray-100 p-6">
    <HamburgerMenu />
    
    <h1 class="text-2xl font-bold mb-6 text-center">函館ロケ地一覧</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {locations.map((loc) => (
        <LocationCard location={loc} />
      ))}
    </div>
  </body>
</html>
